* {
  font-size: 18px;
  margin: 1%;
  overflow: inherit;
}

/* img{
    margin: 0%;
    padding: 0%;
} */

.hero-sec {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

/* div{
    border: 1px solid #000;
    padding: 10px;
} */


.nav-logo {
  grid-column: 1/3;
  align-content: center;
}


.nav-menu {
  grid-column: 3/8;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-menu ul li {
  list-style-type: none;
}

.nav-menu ul li a {
  text-decoration: none;
  color: #000;
}

.nav-auth {
  grid-column: 9/12;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{
  display: grid;
  grid-column: 3/8;
  align-content: center;
  justify-items: center;
}

.menu a:hover {
  background-color: rgb(255, 255, 255);
}

.menu-list {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 15%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-list a {
  float: none;
  color: black;
  padding: 5%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-list li{
  list-style-type: none;
}

.menu:hover .menu-list {
  display: block;
  background-color: #ddd;
}



/* .menu:active{
  display: block;
} */

.login {
  color: #fa7436;
  border: 0px;
  background-color: white;
  cursor: pointer;
}

.fill-btn {
  color: #ffffff;
  border: 1px solid #fa7436;
  border-radius: 5px;
  background-color: #fa7436;
  padding: 2% 4%;
  cursor: pointer;
}
.c1 {
}
.container1 {
  grid-column: 1/6;
  padding: 10% 2%;
}

.c1-img {
  grid-column: 6/11;
  max-width: 100%;
}

.container1 h1 {
  font-size: 3em;
}

.highlight {
  font-size: 1em;
  color: #fa7436;
}

.container1 p {
  font-size: 1.2em;
  padding: 0% 0% 5% 0%;
  color: rgb(88, 84, 84);
  word-spacing: 0.5rem;
}

.disbtn {
  color: #fa7436;
  background-color: white;
  border: 1px solid #fa7436;
  border-radius: 5%;
  padding: 1.5%;
}

.c1-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  padding: 2% 0%;
  margin: 0% 20% 5%;
}

.loc {
  grid-column: 2/5;
  padding: 0% 5%;
}
.loc h4,
img {
  display: inline;
}

.loc p {
  color: rgb(107, 103, 103);
  font: 0.7em sans-serif;
  /* text-wrap: nowrap; */
}

.date {
  grid-column: 5/8;
}

.date p {
  color: rgb(107, 103, 103);
  font: 0.7em sans-serif;
  /* text-wrap: nowrap; */
}

.date h4,
img {
  display: inline;
}

.guest {
  grid-column: 8/11;
}

.guest h4,
img {
  display: inline;
}

.guest p {
  color: rgb(107, 103, 103);
  font: 0.7em sans-serif;
  /* text-wrap: nowrap; */
}

.exp {
  grid-column: 11/12;
}

.exp-btn {
  color: #ffffff;
  border: 1px solid #fa7436;
  border-radius: 5px;
  background-color: #fa7436;
  padding: 5%;
  cursor: pointer;
  text-wrap: nowrap;
}

.container2 {
  background-image: url("../assets/BG.png");
  padding: 0 0 5%;
}

.c2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 5% 0% 0;
}

.c2-txt {
  grid-column: 4/9;
}

.c2-txt h2 {
  font-size: 2.2em;
  align-items: center;
  text-align: center;
  padding: 0 0 0 5%;
}

.c2-txt p {
  padding: 0% 0% 5% 0%;
  color: rgb(146, 134, 134);
  align-items: center;
  text-align: center;
}

.card {
  display: flex;
  margin: 0% 10%;
  padding: 5% 0 0 0;
}

.signcard {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  padding: 3%;
  line-height: 2em;
  width: 25%;
}

.signcard p {
  line-height: 1em;
  color: rgb(102, 100, 100);
}

.money {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  padding: 3%;
  line-height: 1em;
  width: 25%;
}

.money h3{
  padding: 10% 5% 0% 0%;
}

.money p {
  line-height: 1em;
  color: rgb(102, 100, 100);
}

.map h3{
  padding: 10% 5% 0% 0%;
}

.map {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  padding: 3%;
  line-height: 1em;
  width: 25%;
}

.map p {
  line-height: 1em;
  color: rgb(102, 100, 100);
}

.container3 {
  padding: 5% 0% 0%;
}

.c3-txt h2 {
  font-size: 2.2em;
  align-items: center;
  text-align: center;
  padding: 0 0 0%;
}

.c3-txt p {
  padding: 0% 0% 5% 0%;
  color: rgb(88, 84, 84);
  align-items: center;
  text-align: center;
}

.c3-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  padding: 0 10%;
}

.c3-card1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 3/5; */
  border-radius: 5%;
}

.c3-cardimg {
  width: 100%;
}

.c3-cardimg1 {
    width: 99%;
  }

.c3-l1 {
  display: flex;
  justify-content: space-between;
}

.c3-l1-1 {
  display: flex;
}

.c3-l1-1 img {
  height: 75%;
}

.c3-l2 {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}

.c3-l2-1 {
  display: flex;
  justify-content: space-between;
}

.c3-l2-1 img {
  width: 50%;
  height: 75%;
}

.c3-l2-2 {
  display: flex;
}

.c3-l2-2 p {
  color: #fa7436;
}

.c3-card2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 5/7; */
  border-radius: 5%;
}

.c3-card3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 7/9; */
  border-radius: 5%;
}
.c3-card4 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 9/11; */
  border-radius: 5%;
}

.slide {
  display: flex;
  justify-content: center;
  padding: 5% 0% 5%;
}

.c4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 0% 0% 0;
}

.c4-slide {
  display: flex;
  justify-content: right;
}

.c4-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
  grid-auto-flow: column;
  padding: 0 5% 0 5%;
  grid-auto-columns: 10%;
}

.c4-card1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  border-radius: 5%;
  /* padding: 0 0 3%; */
  /* grid-column: 3/5; */
}

.c4-card1 img {
  margin: 0;
  width: 100%;
}

.c4-l1 {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.c3-l1-1 {
  display: flex;
}

.c3-l1-1 img {
  height: 75%;
}

.c4-l2 {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
  padding: 0 3%;
}

.c4-l2-1 {
  display: flex;
  justify-content: left;
  align-items: center;
}

.c4-l2-1 p {
  font-size: 0.7em;
}
.c4-l2-1 img {
}

.c4-l2-2 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.c3-l2-2 p {
  color: #fa7436;
}

.c4-card2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 5/7; */
  border-radius: 5%;
}

.c4-card2 img {
  margin: 0;
  width: 100%;
}

.c4-card3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  /* grid-column: 7/9; */
  border-radius: 5%;
}

.c4-card3 img {
  margin: 0;
  width: 100%;
}

.container5 {
  background-image: url("../assets/BG.png");
  padding: 5% 0 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.review {
  padding: 2%;
  white-space: pre-line;
  margin: 10%;
}

.review h2 {
  font-size: 2em;
}

.review p {
  text-wrap: auto;
  font-size: 0.9em;
  color: rgb(88, 84, 84);
}

.feed {
  width: 100%;
  margin: 5%;
  position: relative;
  align-self: center;
}

.feed1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  border-radius: 3%;
  padding: 5%;
  position: relative;
  width: 80%;
  z-index: 100;
}

.feed p,
strong {
  font-size: 0.85em;
}

.feed p {
  color: #2c2b2b;
}
.feed1 img {
  position: absolute;
  top: -10%;
  left: -10%;
}

.feed2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  border-radius: 3%;
  padding: 0 2%;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  top: 40%;
  left: 10%;
}

.hide {
  visibility: hidden;
}

.container6 {
}
.container6 h2 {
  font-size: 2.2em;
  /* align-items: center; */
  text-align: center;
  padding: 5% 0;
}
.c6-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2%;
}
.c6-card p {
  color: #2c2b2b;
  font-size: 0.9em;
  padding: 5% 0;
}
.c6-card1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  grid-column: 3/5;
  border-radius: 5%;
}

.c6-card img {
  width: 98%;
}

.c6-card2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  grid-column: 5/7;
  border-radius: 5%;
}

.c6-card3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  grid-column: 7/9;
  border-radius: 5%;
}
.c6-card4 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  grid-column: 9/11;
  border-radius: 5%;
}

.footer {
  background-image: url(../assets/Bg\ \(2\).png);
  padding: 5%;
}

.f1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.f-logo {
  grid-column: 1/2;
}

.f-logo img {
  padding: 0 0 5%;
}

.f-logo p {
  padding: 0 0 5%;
  color: #666060;
}

.company {
  grid-column: 3/4;
}

.f1 ul li {
  list-style-type: none;
  padding: 0 0 5%;
}
.f1 strong {
  color: #000;
  font-size: 1.1em;
}

.f1 ul li {
  text-decoration: none;
  color: #666060;
}

.f2 {
  display: flex;
  justify-content: space-between;
  padding: 0%;
}

/* .container7{
    background-color: #FA7436;
    border: 1px solid #FA7436;
    border-radius: 20px;
    margin: 0 10%;
}

.container7 h1{
    font-size: 2.3em;
    padding: 10%;
    color: white;
    text-align: center;
}

.container7 img{
    position: absolute;
    top: 10px;
    width: 85%;
    height: 100%;
} */

.container7 {
  display: flex;
  background-color: #fa7436;
  border-radius: 10px;
  padding: 5%;
  margin: 0 15%;
  justify-content: center;
  position: relative;
}

.container7 img {
  position: absolute;
  left: 1%;
  top: 15%;
  width: 90%;
}

.subscribe {
}

.subs-text {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subs-text h1 {
  font-size: 2em;
  width: 70%;
}
.subs-card {
  position: relative;
  /* display: flex; */
}

.form {
  width: 90%;
  border-radius: 10px;
  border-color: #ffffff;
  height: 30px;
  padding: 8px;
}

.but {
  display: flex;
  color: #ffffff;
  background-color: #fa7436;
  position: absolute;
  border: none;
  top: 9%;
  right: 5%;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
  width: fit-content;
}


@media only screen and (max-width: 1480px){
    .c1-img img{
      width: 100%;
    }
}

@media only screen and (min-width: 770px){
    .menu{
      display: none;
    }
}

@media only screen and (max-width: 992px){
    .c1-img img{
        display: none;
    }

    .feed1 img {
      position: absolute;
      top: -25%;
      left: -20%;
    }

    .container1{
        display: grid;
        grid-column: 1/13;
        padding: 5%;
        justify-items: center;
    }

    .container1 h1,p,button{
      text-align: center;
    }

    .c3-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

      .c6-card {
        display: grid;
        grid-template-columns: auto;
        gap: 2%;
      }
}

@media only screen and (max-width: 768px) {
      .nav-menu{
        display: none;
      }
}

@media only screen and (max-width: 660px){
      .company ul, .contact ul, .more ul{
          display: none;
      }

      .container7{
        display: none;
      }

      .c2 img{
        display: none;
      }

      .f1{
        display: block;
        text-align: center;
        justify-content: center;
        padding: 0 30% 0 30%;
        
      }

      .c4 img{
        display: none;
      }

      .c4-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }

      .Vector img{
        display: none;
      }
      
      .c2-txt img{
        display: none;
      }

      .card p{
        display: none;
      }

      .c4-card{
        padding: 0% 20% 0% 20%;
      }

     .container5{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5%;
      }

      .c6-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
      }
}

@media only screen and (max-width: 1048px){
      .c1-box{
        display: none;
      }

     

}